/* Custom styles */

#graph-container {
  font: 10px sans-serif;
  position: relative;
  height: 600px;
  margin-bottom: 30px;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

.node-label {
  padding: 4px;
  line-height: 1em;
  white-space: pre;
  cursor: default;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 9px;
  margin-top: 1px;
}

#graph-legend {
  display: flex;
}

.legend {
  flex: 1;
  padding: 8px;
  margin-bottom: 10px;
}
